
.menu .toggle {
  background: rgb(0, 102, 255);
  color: white;
  border: unset;
  padding: .3rem;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: .5rem;
}

.menu .content {
  border: 1px solid black;
  border-radius: 5px;
  padding: .5rem;
  color: green;
  margin-bottom: .5rem;
}

.menu .content-parent {
  height: 0px;
  overflow: hidden;
  transition: height ease 0.5s;

}

* {
  color: yellow;
}
.bg {
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px black;
  font-weight: 100;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: scroll;
  /* padding: 1rem; */
}

button, .radarButton {
  position: absolute;
  top: 5vh;
  right: 10px;
  background-color: rgb(0, 119, 255);
  border: none;
  border-radius: 5px;
  color: white;
}

.radarButton {
  left: 10px;
}

.alert {
  padding-left: 1rem;
  padding-right: 1rem;
  overflow: hidden;
  transition: height .5s ease;
}

.alertName {
  color: rgb(255, 0, 0);
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0.5rem;
  text-align: center;
}

.currently {
  font-size: 1.5rem;
  height: 35vh;
  overflow: scroll;
}

.currently::-webkit-scrollbar {
  display: none;
}
.innerCurrent, .innerTop {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  
}

.innerTop {
  font-size: 5rem;
}

.locale {
  height: 10vh;
  display: flex;
  font-size: 1.2rem;
  flex-direction: column;
  align-items: center;
}

.hourly {
  font-size: 1.3rem;
  display: flex;
  height: 22vh;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
}

.hourly::-webkit-scrollbar {
  display: none;
}

.hour {
  width: auto;
  margin-left: 0.5rem;
}

.hourTemp {
  font-size: 1.6rem;
}
.daily {
  font-size: 1.3rem;
  display: flex;
  flex-direction: row;
  height: 27vh;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
}

.dailyImage {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.daily::-webkit-scrollbar {
  display: none;
}

.day {
  margin-left: .2rem;
  margin-right: .2rem;
  padding-left: .2rem;
  padding-right: .2rem;
  min-width: 7rem;
  display: flex; 
  flex-direction: column; 
  /* justify-content: s; */
}

.dateTime {
  margin: 0;
}

p {
  margin: 0.2rem;
}

.radar {
  transition: height 0.5s ease-in-out;
}
span {
  color: rgb(255, 255, 255);
}

.wind {
  text-align: center;
}
.cloudy {
  background-image: url('https://res.cloudinary.com/jjdonnel/image/upload/v1568960016/cloudy_qnxsnb.jpg');
}

.cloudyNight {
  background-image: url('https://res.cloudinary.com/jjdonnel/image/upload/v1568960011/partly-cloudy-night-moon_xcxrcu.jpg');
}
.clear {
  background-image: url('https://res.cloudinary.com/jjdonnel/image/upload/v1573714285/blueSky.jpg');
}

.clearNight {
  background-image: url('https://res.cloudinary.com/jjdonnel/image/upload/v1567654813/NightSky_u3ts5x.png');
}
.snow {
  background-image: url('https://res.cloudinary.com/jjdonnel/image/upload/v1573031978/snowflakes_c2n8jy.jpg');
}

.rain {
  background-image: url('https://res.cloudinary.com/jjdonnel/image/upload/v1572514891/raindrops2_deu4qj.jpg');
}

.thunderstorm {
  background-image: url('https://res.cloudinary.com/jjdonnel/image/upload/v1572681576/windy_c8m7ee.jpg');
}